.left-card {
    height: 100vh;
    width: 15%;
    background-color: #aaaaaa;
}
.right-card {
    height: 100vh;
    width: 85%;
    background-color: wheat;
}

.main-card {
    display: flex;
    flex-direction: row;
    left: 15%;
    right: 85%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: darkgoldenrod;
}